@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

@keyframes levitate {
  0% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(4px);
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  padding: 3rem;
  min-height: 100vh;
}

.main h1 {
  display: flex;
  font-size: 40px;
  text-align: center;
  color: #d85023;
  color: #d4af37;
}

.cocktailContainer {
  display: flex;
  flex-direction: column;
  gap: 96px;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
}

.headerAnimation {
  animation: levitate 7s infinite ease-in-out;
}
